html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
}

button,
a {
  font-family: inherit;
}

button:focus-visible,
a:focus-visible {
  outline: 3px solid #646cff;
  outline-offset: 3px;
}